@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  font-family: Montserrat, arial;
}

/* CONTENIDO DEL INDEX */
/* .wrapper{
  min-height: calc(100vh - 266px);
  background-image: url('../public/img/RadialCircle.svg');
  position: relative;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 266px);
} */

/* 
.wrapper::before {
  content: '';
  position: fixed;
  border-radius: 999px;
  width: 100px;
  height: 100px;
  background-color: rgba(201, 133, 255, .75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 250px 400px rgba(201, 133, 255, .75);
} */

.wrapper .avatar {
  position: absolute;
  width: calc(250px + 15vw);
  height: auto !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30px);
}

/* .wrapper_index {
  max-height: 100vh;
  overflow: hidden;
} */